<% provide(:title, "Hjálp") %>

<h1>Sprettu hjálp</h1>
<p>Hér verður hægt að nálgast upplýsingar um hvernig á að nota Sprettu til þess að auðvelda umhverfisstjórnun í þínu fyrirtæki og minnka umhverfisáhirf af rekstri þess.</p>
   