<div class="jumbotron">

  <h1>SPRETTA</h1>

  <h2>
    Umhverfisstjórnun Fyrirtækja
  </h2>

  <%= link_to "Nýskrá", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>