<footer class="footer">
  <small>
    Spretta | Umhverfisstjórnun Fyrirtækja
  </small>
  <nav>
    <ul>
      
        <li><%= link_to "Hafa Samband", '#' %></li>
        <li><%= link_to "Skilmálar", '#' %></li>
        <li><%= link_to "Fréttir", '#'%></li>
    </ul>
  </nav>
</footer>